/********************---MODO RESPONSIVE---********************/
/********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
header {
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 3;
  text-align: center;
  background-color: #a5a5a5;
  padding-bottom: 106px;
}

nav {
  background-color: rgb(32, 27, 96);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
a h2 {
  font-weight: 600px;
  font-size: 35px;
  text-shadow: 2px 2px 5px rgb(42, 190, 244), -2px -2px 5px rgb(42, 190, 244);
  margin: 0px;
  color: white;
}
a img {
  height: 60px;
  margin-right: 10px;
  border-radius: 50px;
}

div.nav_menu {
  flex-direction: row-reverse;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}

div.contenedor {
  background-color: rgb(27, 32, 96);
  position: fixed;
  margin-top: 70px;
  height: 90px;
}

li {
  list-style: none;
}

h1 {
  padding-top: 130px;
  margin: 0px;
  text-align: center;
  font-family: cursive;
  color: black;
  text-shadow: 1px 1px 4px white, -1px -1px 4px white;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.7490196078);
  padding-bottom: 14px;
  width: 100vw;
}

img.clubhawai {
  margin: 0px;
  width: 100vw;
}

/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px) {
  h1 {
    padding-top: 109px;
  }
}
/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px) {
  h1 {
    padding-top: 99px;
  }
}
/*****--VISTA MOVIL  (min-width: 430 x 800 - VERTICAL)--*****/
/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px) {
  img.clubhawai {
    width: 678px;
  }
}
/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px) {
  h1 {
    padding-top: 125px;
    padding-bottom: 29px;
  }
}
/*****--VISTA TABLETS  (min-width: 1024 x 640 - HORIZONTAL)--*****/
@media (min-width: 1024px) {
  h1 {
    padding-top: 142px;
    padding-bottom: 57px;
    font-size: 76px;
  }
}
/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
/*****--VISTA DESKTOP (min-width: 1023 x 768 - HORIZONTAL)--*****/
/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px) {
  h1.articulomain {
    width: 100vw;
  }
  img.clubhawai {
    width: 825px;
  }
}
/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px) {
  img.clubhawai {
    width: 1017px;
  }
}
/*****--VISTA DESKTOP (min-width: 1400 x 800 - HORIZONTAL)--*****/
/********************---MODO RESPONSIVE---********************/
/********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(128, 128, 128, 0.1803921569);
}

/********************---MAIN---********************/
.parrafomain {
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: 700;
  padding-top: 684px;
}

.articulomain {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;
  padding: 40px;
  background-color: midnightblue;
  border-radius: 30px;
  color: white;
}

/*****--VISTA MOVIL  (min-width: 340 x 640 - VERTICAL)--*****/
@media (min-width: 340px) {
  .parrafomain {
    padding-top: 725px;
  }
}
/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px) {
  p.parrafomain {
    padding-top: 1050px;
    font-size: 25px;
    margin: 0px;
  }
}
/*****--VISTA MOVIL  (min-width: 400 x 640 - VERTICAL)--*****/
@media (min-width: 400px) {
  .parrafomain {
    padding-top: 747px;
  }
}
/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px) {
  .parrafomain {
    padding-top: 732px;
  }
}
/*****--VISTA MOVIL  (min-width: 430 x 800 - VERTICAL)--*****/
@media (min-width: 430px) {
  .parrafomain {
    padding-top: 760px;
  }
}
/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px) {
  .parrafomain {
    padding-top: 825px;
    font-size: 20px;
  }
}
/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
/*****--VISTA TABLETS  (min-width: 1024 x 600 - HORIZONTAL)--*****/
@media (min-width: 1024px) {
  p.parrafomain {
    padding-top: 1363px;
    font-size: 26px;
  }
}
/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px) {
  p.parrafomain {
    padding-top: 1166px;
    font-size: 25px;
  }
}
/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px) {
  p.parrafomain {
    padding-top: 1296px;
  }
}
/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px) {
  p.parrafomain {
    padding-top: 1569px;
    font-size: 28px;
  }
}
/*****--VISTA DESKTOP (min-width: 1400 x 800 - HORIZONTAL)--*****/
@media (min-width: 1400px) {
  p.parrafomain {
    padding-top: 1547px;
    font-size: 25px;
  }
}
/*****--VISTA DESKTOP (min-width: 1600 x 800 - HORIZONTAL)--*****/
@media (min-width: 1600px) {
  p.parrafomain {
    padding-top: 1940px;
    font-size: 30px;
  }
}
/*****--VISTA DESKTOP (min-width: 1700 x 800 - HORIZONTAL)--*****/
@media (min-width: 1700px) {
  p.parrafomain {
    padding-top: 2024px;
    font-size: 30px;
  }
}
/*****--VISTA DESKTOP (min-width: 1800 x 800 - HORIZONTAL)--*****/
@media (min-width: 1800px) {
  p.parrafomain {
    padding-top: 2150px;
    font-size: 30px;
  }
}
/********************---MODO RESPONSIVE---********************/
/********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
body.productos {
  background-color: black;
}

div.titulo {
  background-color: black;
  padding-top: 125px;
  padding-bottom: 99px;
}
div.titulo h1.titulo_producto {
  padding-top: 99px;
  font-size: 60px;
  font-weight: 600;
}

section.carruseles {
  padding-top: 0px;
  text-align: center;
}
section.carruseles .w-100 {
  height: 225px;
  border-radius: 20px;
}
section.carruseles div.a_bebidas {
  background-color: darkmagenta;
  display: inline-block;
  border-radius: 66px;
  padding: 14px;
  margin-bottom: 21px;
}
section.carruseles div.a_bebidas h3 {
  font-weight: 700;
  font-family: cursive;
  font-size: 30px;
}

div.a_bebidas:hover {
  background-color: darkmagenta;
  color: black;
}
div.a_bebidas:hover a h3.bebidas:hover {
  color: black;
}

div.carrucel {
  padding-top: 96px;
}

/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px) {
  div.titulo h1.titulo_producto {
    padding-top: 32px;
    font-size: 76px;
  }
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles .w-100 {
    max-width: 272px;
    height: 228px;
  }
}
/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px) {
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles div.a_bebidas {
    padding: 14px;
  }
  section.carruseles div.a_bebidas h3 {
    font-size: 32px;
  }
  section.carruseles .w-100 {
    max-width: 272px;
    height: 228px;
  }
}
/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px) {
  section.carruseles {
    padding-top: 0px;
  }
  div.titulo {
    padding-top: 69px;
  }
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles .w-100 {
    max-width: 399px;
    height: 285px;
  }
}
/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px) {
  section.carruseles {
    padding-top: 0px;
  }
  div.titulo {
    padding-top: 200px;
  }
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles .w-100 {
    max-width: 447px;
    height: 307px;
  }
}
/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px) {
  section.carruseles {
    padding-top: 0px;
  }
  div.titulo {
    padding-top: 200px;
  }
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles .w-100 {
    max-width: 447px;
    height: 307px;
  }
}
/*****--VISTA TABLETS  (min-width: 1024 x 600 - HORIZONTAL)--*****/
@media (min-width: 1024px) {
  section.carruseles {
    padding-top: 0px;
  }
  div.titulo {
    padding-top: 200px;
  }
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles .w-100 {
    max-width: 513px;
    height: 409px;
  }
}
/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px) {
  section.carruseles {
    padding-top: 0px;
  }
  div.titulo {
    padding-top: 200px;
  }
  section.carruseles {
    padding-top: 0px;
    text-align: -webkit-center;
  }
  section.carruseles .w-100 {
    max-width: 513px;
    height: 409px;
  }
}
/*****--VISTA DESKTOP (min-width: 1600 x 900 - HORIZONTAL)--*****/
@media (min-width: 1600px) {
  div.titulo {
    padding-top: 410px;
  }
  section.carruseles {
    padding-top: 410px;
  }
}
h1.contacto {
  font-size: 44px;
  padding-top: 168px;
}

article.contacto {
  padding-top: 22px;
  text-align: center;
}
article.contacto div.contacto-contenedor {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: black;
  margin-top: 39px;
}
article.contacto div.contacto-contenedor div.background {
  background-color: gray;
  padding-bottom: 32px;
  padding-top: 15px;
}
article.contacto div.contacto-contenedor h3.parrafo {
  border: 3px solid black;
  display: inline-block;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 10px;
}
article.contacto div.contacto-contenedor a.enlace-redes {
  margin: 0px;
}
article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
  width: 259px;
  height: 138px;
  border-radius: 17px;
}

/*****--VISTA MOVIL  (min-width: 600 x 320 - HORIZONTAL)--*****/
@media (min-width: 600px) {
  article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
    width: 335px;
    height: 170px;
  }
}
/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px) {
  h1.contacto {
    font-size: 44px;
    padding-top: 107px;
  }
  article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
    width: 400px;
    height: 190px;
  }
}
/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px) {
  h1.contacto {
    padding-bottom: 19px;
    font-size: 44px;
    padding-top: 110px;
  }
}
/*****--VISTA MOVIL  (min-width: 460 x 800 - VERTICAL)--*****/
/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px) {
  article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
    width: 661px;
    height: 256px;
  }
}
/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
/*****--VISTA TABLETS  (min-width: 1024 x 640 - HORIZONTAL)--*****/
/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
/********************---MODO RESPONSIVE---********************/
/********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
h2.encontranos {
  padding-top: 179px;
  text-align: center;
  font-size: 30pt;
  font-weight: 800;
  color: black;
  text-shadow: 3px 2px 6px blue, -3px -2px 6px blue;
}

a.link_ubicasion {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

p.goycochea {
  color: black;
  font-size: 13pt;
  margin: 0;
  text-align: center;
  border-style: outset;
  border-width: 9px;
  border-color: darkslateblue;
}

div.ubicasion {
  text-align: center;
  background-color: gray;
  padding-bottom: 46px;
}

.mapa {
  padding-top: 30px;
  width: 280px;
  height: 273px;
}

/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px) {
  h2.encontranos {
    padding-top: 160px;
  }
  .mapa {
    width: 458px;
  }
}
/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px) {
  h2.encontranos {
    padding-top: 205px;
  }
  a.link_ubicasion {
    padding-top: 60px;
    padding-left: 105px;
    padding-right: 105px;
  }
  .mapa {
    width: 409px;
  }
}
/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px) {
  .mapa {
    width: 343px;
    height: 353px;
  }
}
/*****--VISTA MOVIL  (min-width: 460 x 800 - VERTICAL)--*****/
@media (min-width: 460px) {
  .mapa {
    width: 410px;
    height: 353px;
  }
}
/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px) {
  h2.encontranos {
    padding-top: 186px;
    font-size: 50px;
  }
  p.goycochea {
    font-size: 14pt;
    width: 290px;
  }
  .mapa {
    width: 696px;
    height: 379px;
  }
}
/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px) {
  p.goycochea {
    font-size: 14pt;
    width: 260px;
  }
  .mapa {
    width: 517px;
    height: 407px;
  }
}
/*****--VISTA TABLETS  (min-width: 1024 x 640 - HORIZONTAL)--*****/
@media (min-width: 1024px) {
  h2.encontranos {
    padding-top: 186px;
    font-size: 60px;
  }
  .mapa {
    width: 897px;
    height: 409px;
  }
}
/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
/********************---VISTA MOBILE (min-width: 320-VERTICAL)---********************/
footer {
  background-color: rgb(32, 27, 96);
  height: 142px;
  display: flex;
  justify-content: center;
  margin-top: 78px;
  padding-top: 24px;
  align-items: center;
}
footer ul.ultimo_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
footer ul.ultimo_menu li.li_footer {
  padding: 3px;
}
footer ul.ultimo_menu img.footer-img {
  height: 55px;
}
footer ul.ultimo_menu img.facebook {
  padding: 10px;
  background-color: #0857cb;
}
footer ul.ultimo_menu img.instagram {
  padding: 10px;
  background-image: linear-gradient(to top right, yellow 10%, red 40%, blue);
  background-position: center;
  background-size: 55px;
}
footer ul.ultimo_menu img.whatssapp {
  padding: 10px;
  background-color: rgba(73, 222, 18, 0.9803921569);
}

/*# sourceMappingURL=estilo.css.map */
