header {
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 3;
}

nav {
  background-color: rgb(32, 27, 96);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
a h2 {
  font-weight: 600px;
  font-size: 35px;
  text-shadow: 2px 2px 5px rgb(42, 190, 244), -2px -2px 5px rgb(42, 190, 244);
  margin: 0px;
  color: white;
}
a img {
  height: 60px;
  margin-right: 10px;
  border-radius: 50px;
}

div.nav_menu {
  flex-direction: row-reverse;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}

div.contenedor {
  background-color: rgb(27, 32, 96);
  position: fixed;
  margin-top: 70px;
  height: 90px;
}

li {
  list-style: none;
}

h1 {
  padding-top: 130px;
  margin: 0px;
  text-align: center;
  font-family: cursive;
  color: black;
  text-shadow: 1px 1px 4px white, -1px -1px 4px white;
  font-size: 50px;
}

h1.back-img {
  height: 580px;
  background-image: url(../img/Logo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 320px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: aquamarine;
}

/********************---MAIN---********************/
.parrafomain {
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: 700;
}

.articulomain {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;
  padding: 40px;
  background-color: midnightblue;
  border-radius: 30px;
  color: white;
}

/********************---FOOTER---********************/
/********************---VISTA MOBIL (min-width: 640 x 320 - HORIZONTAL)---********************/
@media (min-width: 640px) {
  h1 {
    font-size: 90px;
  }
  h1.back-img {
    height: 636px;
  }
  .parrafomain {
    padding-top: 40px;
  }
  .articulomain {
    padding: 20px;
  }
}
/********************---VISTA MOBILE (min-width: 402-VERTICAL)---********************/
/*Telefono Modernos Regular*/
@media (min-width: 402px) {
  .sectionmain {
    padding-top: 20px;
  }
}
/********************---VISTA MOBILE (min-width: 480-HORIZONTAL)---********************/
@media (min-width: 480px) {
  /*****--main--*****/
  .parrafomain {
    font-size: 20px;
  }
}
/********************---VISTA TABLET (min-width: 600 x 800 -VERTICAL)---********************/
@media (min-width: 600px) {
  h1.back-img {
    height: 595px;
  }
  .parrafomain {
    padding-top: 80px;
  }
}
/********************---VISTA TABLET (min-width: 800 X 600 -HORIZONTAL)---********************/
@media (min-width: 800px) {
  h1.back-img {
    height: 793px;
  }
}
/********************---VISTA TABLET (min-width: 600 x 1024 -VERTICAL)---********************/
@media (min-width: 600px) {
  .parrafomain {
    padding-top: 90px;
  }
}
/********************---VISTA TABLET (min-width: 1024 X 600 x - HORIZONTAL)---********************/
/********************---VISTA  DESKTOP (min-width:1200 x 617- HORIZONTAL)---********************/
/********************---VISTA MOBIL (min-width: 320 x 640 - VERTICAL)---********************/
body.productos {
  background-color: black;
}

div.titulo {
  background-color: black;
  padding-top: 125px;
  padding-bottom: 166px;
}
div.titulo h1.titulo_producto {
  padding-top: 138px;
  font-size: 60px;
  font-weight: 600;
}

section.carruseles {
  padding-top: 45px;
}
section.carruseles div.a_bebidas {
  background-color: white;
  padding-top: 33px;
  padding-bottom: 25px;
}
section.carruseles div.a_bebidas a h3.bebidas {
  color: black;
  font-size: 30px;
  font-weight: 700;
}
section.carruseles div.carrucel {
  padding-top: 96px;
}

/********************---VISTA MOBILE (min-width: 320-VERTICAL)---********************/
/*****--MAIN--*****/
h2.encontranos {
  padding-top: 160px;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
  color: black;
  text-shadow: 3px 2px 6px blue, -3px -2px 6px blue;
}

a.link_ubicasion {
  padding-top: 25px;
}

p.goycochea {
  color: black;
  padding: 30px;
  font-size: 13pt;
  margin: 0;
  text-align: center;
  border-style: outset;
  border-width: 9px;
  border-color: darkslateblue;
}

.mapa {
  padding-top: 70px;
  width: 319px;
  height: 402px;
}

/********************---VISTA MOBILE (min-width: 500 x 320- HORIZONTAL)---********************/
@media (min-width: 500px) {
  div.ubicasion {
    text-align-last: center;
  }
  .mapa {
    width: 470px;
  }
}
/********************---VISTA MOBILE (min-width: 402-VERTICAL)---********************/
@media (min-width: 402px) {
  div.ubicasion {
    text-align: center;
  }
  .mapa {
    width: 394px;
    height: 489px;
  }
}
/********************---VISTA MOBILE (min-width: 700 x 402-HORIZONTAL)---********************/
@media (min-width: 700px) {
  .mapa {
    width: 689px;
  }
}
/********************---VISTA TABLET (min-width: 600 x 1024 -VERTICAL)---********************/
@media (min-width: 600px) {
  .mapa {
    width: 557px;
    height: 652px;
  }
}
/********************---VISTA TABLET (min-width: 1024 X 600 x - HORIZONTAL)---********************/
@media (min-width: 1024px) {
  .mapa {
    width: 1003px;
  }
}
/********************---VISTA  DESKTOP (min-width:1200 x 617- HORIZONTAL)---********************/
@media (min-width: 1200px) {
  .mapa {
    width: 1170px;
  }
}
footer {
  background-color: rgb(32, 27, 96);
  height: 142px;
  display: flex;
  justify-content: center;
  margin-top: 166px;
  padding-top: 24px;
  align-items: center;
}
footer ul.ultimo_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
footer ul.ultimo_menu li.li_footer {
  padding: 3px;
}
footer ul.ultimo_menu img.footer-img {
  height: 55px;
}
footer ul.ultimo_menu img.facebook {
  padding: 10px;
  background-color: #0857cb;
}
footer ul.ultimo_menu img.instagram {
  padding: 10px;
  background-image: url(/img/colores-de-intagram.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}
footer ul.ultimo_menu img.whatssapp {
  padding: 10px;
  background-color: rgba(73, 222, 18, 0.9803921569);
}

/*# sourceMappingURL=estilo.css.map */
