h1.contacto{
    padding-top: 156px;
    margin: 0px;
    text-align: center;
    font-family: cursive;
    color:black;
    text-shadow: 1px 1px 4px white, -1px -1px 4px white;
    font-size: 38px;
    padding-bottom: 0px;
    width: 100vw;
    font-weight: 600;
}

article.contacto{
    padding-top: 0px;
    text-align: center;
    
    div.contacto-contenedor{
        // padding-top: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: black;
        margin-top: 39px;
        
        div.background{
            background-color: gray;
            padding-bottom: 32px;
            padding-top: 15px;
            // margin-bottom: 44px;
        }
        
        h3.parrafo{
            border: 3px solid black;
            display: inline-block;
            box-shadow: 0px 0px 10px black;
            margin-bottom: 10px;
        }
        
        a.enlace-redes{
            margin: 0px;
            
            img.contacto-enlace{
                width: 259px;
                height: 138px;
                border-radius: 17px;
            }
        }
    }
}

/*****--VISTA MOVIL  (min-width: 600 x 320 - HORIZONTAL)--*****/
@media (min-width: 600px){
    article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
        width: 335px;
        height: 170px;
    }
}

/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px){
    h1.contacto {
        font-size: 44px;
        padding-top: 107px;
    }
     
    article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
        width: 400px;
        height: 190px;
    }
}

/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px){
    h1.contacto {
        padding-bottom: 19px;
        font-size: 44px;
        padding-top: 110px;
    }
    
    // article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
    //     width: 335px;
    //     height: 170px;
    // }
}

/*****--VISTA MOVIL  (min-width: 460 x 800 - VERTICAL)--*****/
@media (min-width: 460px){

}

/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px){

}

/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){
    article.contacto div.contacto-contenedor a.enlace-redes img.contacto-enlace {
        width: 661px;
        height: 256px;
    }
}

/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px){

}

/*****--VISTA TABLETS  (min-width: 1024 x 640 - HORIZONTAL)--*****/
@media (min-width: 1024px){

}

/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px){

}

/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px){

}

/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 120px){

}










