footer{
    background-color: rgb(32, 27, 96);
    height: 90px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    align-items: center;

    ul.ultimo_menu{
        display: flex;
    }

    img.footer-img{
        height: 35px;
    }
}
