/********************---MODO RESPONSIVE---********************/
            /********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
header{
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 3;
    text-align: center;
    background-color: #a5a5a5;
    padding-bottom: 133px;
}

nav{
    background-color: rgb(32, 27, 96);
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    h2{
        font-weight: 600px;
        font-size: 35px;
        text-shadow: 2px 2px 5px rgb(42, 190, 244), -2px -2px 5px rgb(42, 190, 244) ;
        margin: 0px;
        color: white;
    }

    img{
        height: 60px;
        margin-right: 10px;
        border-radius: 50px;
    }
}

div.nav_menu{
    flex-direction: row-reverse;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    font-size: 20px;
}

div.contenedor{
    background-color: rgb(27, 32,96);
    position: fixed;
    margin-top: 70px;
    height: 90px;
}

li{
    list-style: none;
}

h1{
    padding-top: 130px;
    margin: 0px;
    text-align: center;
    font-family: cursive;
    color:black;
    text-shadow: 1px 1px 4px white, -1px -1px 4px white;
    font-size: 50px;
    background-color: #000000bf;
    padding-bottom: 14px;
    width: 100vw;

}

// h1.back-img{                                     NO RESULTABA EN EL RESPONSIVE
//     background-image: url(../../img/Logo1.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
//     width: 100vw;
//     height: 535px;
// }

img.clubhawai{
    margin: 0px;
    width: 100vw;
}



            /*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px){
    h1 {
        padding-top: 109px;
    }
}

            /*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px){
    h1 {
        padding-top: 99px;
    }
}

            /*****--VISTA MOVIL  (min-width: 430 x 800 - VERTICAL)--*****/
@media (min-width: 430px){

}

            /*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px){

}

            /*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){

}

            /*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){
    img.clubhawai {
        width: 678px;
    }
}

            /*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px){
    h1 {
        padding-top: 125px;
        padding-bottom: 29px;
    }
}


            /*****--VISTA TABLETS  (min-width: 1024 x 640 - HORIZONTAL)--*****/
@media (min-width: 1024px){
    h1 {
        padding-top: 142px;
        padding-bottom: 57px;
        font-size: 76px;
    }
}

            /*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px){

}

            /*****--VISTA DESKTOP (min-width: 1023 x 768 - HORIZONTAL)--*****/
@media (min-width: 1023px){

}

            /*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px){
    h1.articulomain{
        width: 100vw;
    }

    img.clubhawai {
        width: 825px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px){
    // h1.back-img {
    //     height: 836px;
    //     width: 100vw;
    //     padding-top: 170px;
    //     font-size: 158px;
    //     font-weight: 800;
    // }

    img.clubhawai {
        width: 1017px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1400 x 800 - HORIZONTAL)--*****/
@media (min-width: 1400px){
    // h1.back-img {
    //     background-position: center;
    //     height: 836px;
    //     width: 100vw;
    //     padding-top: 170px;
    //     font-size: 158px;
    //     font-weight: 800;
    // }
}