h1.contacto{
    font-size: 44px;
    padding-top: 168px;
}

article.contacto{
    padding-top: 75px;
    text-align: center;
    
    div.contacto-contenedor{
        padding-top: 0px;
        
        div.background{
            background-color: gray;
            padding-bottom: 32px;
            padding-top: 15px;
            // margin-bottom: 44px;
        }
        
        div.instagram{
            margin-top: 62px;
        }
        
        a.enlace-redes{
            margin: 0px;
            
            img.contacto-enlace{
                width: 259px;
                height: 138px;
                border-radius: 17px;
            }
        }
        
        
        
    }
}










