/********************---MODO RESPONSIVE---********************/
            /********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #8080802e;;
    
}



/********************---MAIN---********************/

.parrafomain{
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
    font-weight:700;
    padding-top: 576px;
}

.articulomain{
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid blue;
    padding: 40px;
    background-color:midnightblue;
    border-radius: 30px;
    color: white;

}

/*****--VISTA MOVIL  (min-width: 340 x 640 - VERTICAL)--*****/
@media (min-width: 340px ) {
    .parrafomain {
        padding-top: 725px;
        font-size: 16px;
    }
}

/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px ) {
    p.parrafomain{
        padding-top: 904px;
        font-size: 25px;
        margin: 0px;
    }
    
}

/*****--VISTA MOVIL  (min-width: 400 x 640 - VERTICAL)--*****/
@media (min-width: 400px ) {
    .parrafomain {
        padding-top: 654px;
    }
}

            /*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px){
    .parrafomain{
        padding-top: 631px;
    }
}

            /*****--VISTA MOVIL  (min-width: 430 x 800 - VERTICAL)--*****/
@media (min-width: 430px){
    .parrafomain{
        padding-top: 646px;
    }
}

            /*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px){
    .parrafomain{
        padding-top: 716px;
        font-size: 20px;
    }
}

            /*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){

}

            /*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px){
            
}

            /*****--VISTA TABLETS  (min-width: 1024 x 600 - HORIZONTAL)--*****/
@media (min-width: 1024px){
    p.parrafomain {
        padding-top: 1183px;
        font-size: 26px;
    }
}

            /*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px){
    p.parrafomain {
        padding-top: 1016px;
        font-size: 25px;

    }
}

            /*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px){
    p.parrafomain {
        padding-top: 1183px;
        font-size: 26px;
    }
}
                    
            /*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px){
    p.parrafomain {
        padding-top: 1366px;
        font-size: 28px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1400 x 800 - HORIZONTAL)--*****/
@media (min-width: 1400px){
    p.parrafomain{
        padding-top: 1368px;
        font-size: 27px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1600 x 800 - HORIZONTAL)--*****/
@media (min-width: 1600px){
    p.parrafomain{
        padding-top: 1391px;
        font-size: 30px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1700 x 800 - HORIZONTAL)--*****/
@media (min-width: 1700px){
    p.parrafomain{
        padding-top: 1395px;
        font-size: 30px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1800 x 800 - HORIZONTAL)--*****/
@media (min-width: 1800px){
    p.parrafomain{
        padding-top: px;
        font-size: 30px;
    }
}