h1.contacto{
    font-size: 44px;
    padding-top: 168px;
}

article.contacto{
    padding-top: 75px;
    text-align: center;
    
    div.contacto-contenedor{
        padding-top: 0px;
         
        img.contacto-enlace{
            width: 300px;
            height: 169px;
        }
    }
}










