/********************---MODO RESPONSIVE---********************/
/********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
h2.encontranos{
    padding-top: 179px;
    text-align: center;
    font-size: 30pt;
    font-weight: 800;
    color: black;
    text-shadow: 3px 2px 6px blue, -3px -2px 6px blue;
}

a.link_ubicasion{
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
}

p.goycochea{
    color: black;
    font-size: 13pt;
    margin: 0;
    text-align: center;
    border-style: outset;
    border-width: 9px;
    border-color: darkslateblue;
}

div.ubicasion {
    text-align: center;
}
.mapa{
    padding-top: 0px;
    width: 280px;
    height: 273px;
}


/*****--VISTA MOVIL  (min-width: 600 x 320 - HORIZONTAL)--*****/
@media (min-width: 600px){
    h2.encontranos {
        padding-top: 160px;
    }
    .mapa {
        padding-top: 0px;
        width: 458px;
    }
}

/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px){
    h2.encontranos {
        padding-top: 205px;
    }

    a.link_ubicasion {
        padding-top: 60px;
        padding-left: 105px;
        padding-right: 105px;
    }

    .mapa {
        padding-top: 0px;
        width: 409px;
    }
}

/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px){
    .mapa {
        width: 343px;
        height: 353px;
    }
}

/*****--VISTA MOVIL  (min-width: 460 x 800 - VERTICAL)--*****/
@media (min-width: 460px){
    .mapa {
        width: 410px;
        height: 353px;
    }
}

/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){
    h2.encontranos {
        padding-top: 186px;
        font-size: 50px;
    }

    p.goycochea {
        // color: black;
        font-size: 14pt;
        width: 290px
    }

    .mapa {
        padding-top: 0px;
        width: 696px;
        height: 379px;
    }
}

/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px){
    p.goycochea {
        // color: black;
        font-size: 14pt;
        width: 260px
    }
    
    .mapa {
        padding-top: 0px;
        width: 517px;
        height: 407px;
    }
}

/*****--VISTA TABLETS  (min-width: 1024 x 640 - HORIZONTAL)--*****/
@media (min-width: 1024px){
    h2.encontranos {
        padding-top: 186px;
        font-size: 60px;
    }
    
    .mapa {
        padding-top: 0px;
        width: 897px;
        height: 409px;
    }
}

/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px){

}

/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px){

}

/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 120px){

}