/********************---MODO RESPONSIVE---********************/
            /********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aquamarine;
    
}



/********************---MAIN---********************/

.parrafomain{
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
    font-weight:700;
    padding-top: 545px;
}

.articulomain{
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid blue;
    padding: 40px;
    background-color:midnightblue;
    border-radius: 30px;
    color: white;
}


/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px ) {
    main{
        p.parrafomain{
            padding-top: 880px;
            font-size: 25px;
            margin: 0px;
        }
    }
    
}

            /*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px){
    .parrafomain{
        padding-top: 600px;
    }
}

            /*****--VISTA MOVIL  (min-width: 430 x 800 - VERTICAL)--*****/
@media (min-width: 430px){
    .parrafomain{
        padding-top: 600px;
    }
}

            /*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px){
    .parrafomain{
        padding-top: 665px;
        font-size: 20px;
    }
}

            /*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){
    .parrafomain{
        padding-top: 611px;
        font-size: 20px;
    }
}

            /*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px){
            
}

            /*****--VISTA TABLETS  (min-width: 1024 x 600 - HORIZONTAL)--*****/
@media (min-width: 1024px){
            
}

            /*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px){
    
}

            /*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px){
            
}
                    
            /*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px){
    .parrafomain{
        padding-top: 0px;
        font-size: 15px;
    }
}

            /*****--VISTA DESKTOP (min-width: 1400 x 800 - HORIZONTAL)--*****/
@media (min-width: 1400px){
    .parrafomain{
        padding-top: 1400px;
        font-size: 25px;
    }
}