/********************---MODO RESPONSIVE---********************/
/********************------********************/
/*****--VISTA MOVIL  (min-width: 320 x 600 - VERTICAL)--*****/
*{
    box-sizing: border-box;
}

.quienesSomos{
    padding-bottom: 0px;
}

h1.quienesSomos{
    background-color: rgb(0 0 0 / 88%);
    box-shadow: 3px 10px 26px black;
    padding-bottom: 25px;
    padding-top: 158px;
}

section.quienesSomos{
    padding-top: 29px;
    article.somos{
        margin: 0px;
        div.p_somos{
            margin: 0px;
            
            div.mis_imagenes{
                margin: 0px;
                display: flex;
                flex: 25%;
                flex-wrap: wrap;
                place-content: center;
                
                img.imagenes{
                    width: 78%;
                    margin: 13px;
                }
            }
            
            div.miHistoria{
                margin: 0px;
                p.primeraHistoria{
                    margin: 0px;
                    font-weight: 700;
                    text-align: center;
                    padding: 35px;
                    background: linear-gradient(180deg, gray, transparent);
                }
                
                p.ultimaHistoria{
                    margin: 0px;
                    font-weight: 700;
                    text-align: center;
                    padding: 35px;
                    background: linear-gradient(360deg, gray, transparent);
                }
            }
            h4.teEsperamos{
                margin: 0px;
                text-align: center;
                font-family: fantasy;
                font-size: 50px;
                padding-top: 45px;
                color: black;
                text-shadow: 3px 2px 8px blue, -3px -2px 8px blue;
            }
        }
    }
}



/*****--VISTA MOVIL  (min-width: 640 x 320 - HORIZONTAL)--*****/
@media (min-width: 640px){
    h1.quienesSomos {
        padding-bottom: 59px;
    }
}

/*****--VISTA MOVIL  (min-width: 402 x 800 - VERTICAL)--*****/
@media (min-width: 402px){
    h1.quienesSomos {
        padding-bottom: 43px;
        padding-top: 116px;
    }
    section.quienesSomos article.somos div.p_somos div.mis_imagenes img.imagenes {
        width: 80%;
    }
}

/*****--VISTA MOVIL  (min-width: 800 x 402 - HORIZONTAL)--*****/
@media (min-width: 800px){
    section.quienesSomos article.somos div.p_somos div.mis_imagenes img.imagenes {
        width: 43%;
        margin: 20px;
    }
}

/*****--VISTA MOVIL  (min-width: 480 x 800 - VERTICAL)--*****/
@media (min-width: 480px){
    h1.quienesSomos {
        padding-bottom: 55px;
    }

    section.quienesSomos article.somos div.p_somos div.miHistoria p.ultimaHistoria {
        font-size: 20px;
    }
}

/*****--VISTA MOVIL  (min-width: 800 x 480 - HORIZONTAL)--*****/
@media (min-width: 800px){
    section.quienesSomos {
        text-align: center;
    }
}

/*****--VISTA TABLETS  (min-width: 640 x 1024 - VERTICAL)--*****/
@media (min-width: 640px){
    h1.quienesSomos {
        font-size: 60px;
    }
    section.quienesSomos article.somos div.p_somos div.miHistoria p.primeraHistoria {
        font-size: 20px;
        padding: 63px;
    }
}

/*****--VISTA TABLETS  (min-width: 1024 x 600 - HORIZONTAL)--*****/
@media (min-width: 1024px){

}


/*****--VISTA TABLETS  (min-width: 768 x 1024 - VERTICAL)--*****/
@media (min-width: 768px){

}

/*****--VISTA DESKTOP (min-width: 1024 x 768 - HORIZONTAL)--*****/
@media (min-width: 1024px){

}

/*****--VISTA DESKTOP (min-width: 1200 x 800 - HORIZONTAL)--*****/
@media (min-width: 1200px){
    section.quienesSomos article.somos div.p_somos div.mis_imagenes img.imagenes {
        width: 40%;
    }
    section.quienesSomos article.somos div.p_somos div.miHistoria p.primeraHistoria {
        font-size: 20px;
        // padding-left: 206px;
        // padding-right: 222px;
        // padding-top: 64px;
        padding: 73px;
        text-align: center;
    }
}